---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex justify-center">Astro flex</div>
  </body>
</html>
