---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Yuichi Kojima</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="text-xl py-3 font-bold">Location: British Columbia, Canada 🇨🇦</div>
    <div class="py-2">
      <text class="text-lg">
        I 🩷 Ruby, Ruby on Rails, AWS, Terraform, DevOps technology.
        <br>
        Also, I've started frontend job using React/TypeScript on my current work.
      </text>
      <br>
      <div class="py-3 text-xl font-bold">
        That's why, I am a Full-Stack Engineer!
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>
</BaseLayout>
